@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";
@import "../../styles/constants.scss";

.container {
  @extend %flex-center;
  flex-direction: column;

  .columns {
    display: grid;
    grid-template-columns: 200px 200px;
    width: 100%;
    padding: 20px;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;

    @include breakpoint(md) {
      grid-template-columns: 300px 300px;
      padding: 32px 82px;
    }

    @include breakpoint(xs) {
      grid-template-columns: 180px 180px;
    }

    @include breakpoint(xxs) {
      grid-template-columns: 150px 150px;
    }

    .column {
      .title {
        margin: 0 0 16px;
        font-size: 22px;

        @include breakpoint(xs) {
          font-size: 19px;
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin: 0;
          font-weight: 300;

          a {
            &:hover {
              color: $dark-blue;
            }
          }
        }
      }
    }
  }

  .copyright {
    @extend %flex-center;
    height: 60px;

    @include breakpoint(xs) {
      font-size: 14px;
      height: 50px;
    }
  }
}
