// consts
$white: #fff;
$black: #000;
$blue: #2b3df4;
$dark-red: #ba0829;
$dark-blak: #121212;
$light-gray: #cbcbcb;
$dark-blue: #2d2f87;
$milky-tea: #fff2b9;

// utils
$active: #ffd800;
$active-dark: #b88521;
